# Producing Membership Files Automatically
### by Sarah M and Joe Eberle started on 09_29_2023

In [1]:
# Install any Libraries your dont already have 
first_install = False
if first_install:
    !pip install ydata-profiling
    !pip install pyttsx3
    !pip install openpyxl

In [2]:
import pandas as pd #Pandas is high performance data manipulation 
import os 
import talking_code as tc

## Optional Step 0 - Intitiate Configuration Settings and name the overall solution

In [3]:
import configparser 
config = configparser.ConfigParser()
cfg = config.read('config.ini')
solution_name = 'membership_matching'

## Optional Step 0 - Starting Logger

In [4]:
# Establish the Python Logger  
import logging # built in python library that does not need to be installed 
import quick_logger as ql

global start_stime 
start_time = ql.set_start_time()
logging = ql.create_logger_Start(solution_name, start_time)

## Optional Step 0 - Build a working directory to house your reports

In [5]:
# Optional Step 0 - Build a working directory to house your analysis
import os

directory_path = r'c:\reports\membership'

# Create the directory if it doesn't exist
if not os.path.exists(directory_path):
    os.makedirs(directory_path)
    print(f"Directory '{directory_path}' created successfully.")
else:
    print(f"Directory '{directory_path}' already exists.")

Directory 'c:\reports\membership' already exists.

## Optional Step 0 - clean out any old reports

In [6]:
def delete_files_in_directory(target_directory):
    try:
        # Verify if the target_directory exists
        if not os.path.exists(target_directory):
            print(f"The directory '{target_directory}' does not exist.")
            return 0  # No files deleted

        files_deleted = 0

        # Loop through files in the target_directory and delete them
        for file in os.listdir(target_directory):
            file_path = os.path.join(target_directory, file)
            if os.path.isfile(file_path):
                os.remove(file_path)  # Delete the file
                files_deleted += 1

        print(f"{files_deleted} files deleted in '{target_directory}'.")
        return files_deleted
    
    except Exception as e:
        print(f"An error occurred: {str(e)}")
        return 0  # No files deleted due to error

# Example usage:
# Specify the target directory to delete its files
directory_path = r'c:\reports\membership'
deleted_count = delete_files_in_directory(directory_path)
print(f"Total files deleted: {deleted_count}")

0 files deleted in 'c:\reports\membership'.
Total files deleted: 0

## Optional Step 0 - Build a working directory to archive your reports

In [7]:
# Optional Step 0 - Build a working directory to archive your reports 
directory_path = r'c:\reports\membership\archive'

# Create the directory if it doesn't exist
if not os.path.exists(directory_path):
    os.makedirs(directory_path)
    print(f"Directory '{directory_path}' created successfully.")
else:
    print(f"Directory '{directory_path}' already exists.")

Directory 'c:\reports\membership\archive' already exists.

In [99]:
import talking_code as tc
definition = '''
Reading CSV files into pandas provides a seamless and efficient way to handle tabular data in Python, 
making data manipulation and analysis more accessible. Pandas, a powerful data manipulation library, 
introduces a DataFrame structure that mirrors the tabular format familiar to Excel users. 
Loading CSV files into pandas DataFrames enables users to leverage sophisticated data manipulation 
operations with just a few lines of code, such as filtering, sorting, and aggregating data.
Essentially, pandas serves as a more potent version of Excel that can be programmatically controlled. 
The ability to perform complex data transformations and analyses using Python code, 
coupled with the extensive range of statistical and mathematical functions provided by pandas, 
empowers users to scale and automate data processing tasks, 
surpassing the capabilities of traditional spreadsheet software. With pandas, 
users gain the flexibility to apply advanced data manipulation techniques while 
harnessing the efficiency and programmability of a Python environment.
''' 
talking_code = False
if talking_code:
    tc.say(definition)
    print(definition)       
else:
    print(definition)

Reading CSV files into pandas provides a seamless and efficient way to handle tabular data in Python,
making data manipulation and analysis more accessible. Pandas, a powerful data manipulation library,
introduces a DataFrame structure that mirrors the tabular format familiar to Excel users.
Loading CSV files into pandas DataFrames enables users to leverage sophisticated data manipulation
operations with just a few lines of code, such as filtering, sorting, and aggregating data.
Essentially, pandas serves as a more potent version of Excel that can be programmatically controlled.
The ability to perform complex data transformations and analyses using Python code,
coupled with the extensive range of statistical and mathematical functions provided by pandas,
empowers users to scale and automate data processing tasks,
surpassing the capabilities of traditional spreadsheet software. With pandas,
users gain the flexibility to apply advanced data manipulation techniques while
harnessing the efficiency and programmability of a Python environment.

## Step 1 - Load ANY data set for which to run discovery or data profiling

In [8]:
logging.info(f'{solution_name} - Step 1 - Load ANY data set for which to run discovery or data profiling')  
getting_data = True
if getting_data: 
    file_name = "C:\\working_directory\\excel\\FLIPA_Demographic.xlsx"    
    df_membership = pd.read_excel(file_name, sheet_name="demographic")   
# df = pd.read_excel(file_path, password="your_password")
# print(df_membership.columns)
df_membership.head(3)

,Patient Info.Patient Name - Last First,Patient Info.MedicaidID,Patient Info.Date Of Birth,Patient Info.Medical Record Number,Patient Info.ID - Patient,Patient Info.ID - Patient Chart,Patient Info.Chart Status,Patient Info.Date - Admit,Patient Info.Date - Discharge/Terminate,Patient Info.Age (Current),...,FormLab Universal Face Sheet v11 5.Referral Category .Probation/parole,FormLab Universal Face Sheet v11 5.Referral Category .Self,FormLab Universal Face Sheet v11 5.Referral Category .Treatment Court,FormLab Universal Face Sheet v11 5.Unemployed Options.Disabled,FormLab Universal Face Sheet v11 5.Unemployed Options.N/A,FormLab Universal Face Sheet v11 5.Unemployed Options.Retired,FormLab Universal Face Sheet v11 5.Unemployed Options.Student,FormLab Universal Face Sheet v11 5.Unemployed Options.Unemployed,FormLab Universal Face Sheet v11 5.Who referred to us?,Patient Info.Date - Last Billable Service
0,"PORTER, VERONIKA",ZFB8441F2535,1997-07-07,2012-3127,13292,61011,Admitted,2022-06-21,NaT,25,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,PROBATION,2023-01-30
1,"VINCENT, GREGORY",V5250711921504,1992-07-11,2020-00851,26858,64927,Discharged,2022-11-03,2022-11-22,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-03
2,"VANN, CLYDE",V5000827766180,1976-08-27,2022SA183,36542,64490,Discharged,2022-10-18,2022-10-18,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-13

In [9]:
df_sorted_counts = df_membership['Patient Info.Primary Insurance Name'].value_counts().sort_values(ascending=False)
print(df_membership.shape)
print(df_sorted_counts)

(2913, 71)
Patient Info.Primary Insurance Name
FIDELIS CARE MANAGED CARE         1277
COMMUNITY CARE BEHAVIORAL HEAL     218
BC OPTION- MANAGED CARE            185
BLUE SHIELD                        169
UNITED HEALTHCARE MANAGED CARE      93
BLUE SHIELD OUT OF AREA             77
MOLINA HEALTHCARE MANAGED CARE      73
BC/BS OF WNY - MANAGED CARE         69
NYSDOH                              64
FIDELIS CARE ESSENTIAL PLAN         62
MEDICARE PART B SUD                 57
MVPO MANAGED CARE - 1-1-2020 F      55
UNITED HEALTHCARE MEDICARE          52
HIGHMARK BLUE CROSS BLUE SHIE       38
BILL NEXT INS - EOBS                32
SULLIVAN / BRADFORD COUNTY SIN      31
UNITED HEALTHCARE                   29
AETNA                               21
BLUE SHIELD ESSENTIAL PLANS         18
BEACON HEALTH OPTIONS, INC          18
FIDELIS MEDICARE                    17
INDEPENDENT HEALTH CLAIMS           17
HUMANA CHOICE MEDICARE              14
WELLCARE - MEDICARE/COMMERCIAL      12
BC BS OF WESTERN NEW YORK           12
MVP HEALTH CARE                     11
CAPITAL DISTRICT MANAGED CARE       10
BLUE SHIELD MEDICARE                10
CIGNA HEALTHCARE                     9
UMR                                  8
UNIVERA HEALTHCARE                   7
AETNA MEDICARE                       6
AMERIGROUP MANAGED CARE              4
UNITED HEALTHCARE ESSENTIAL PL       4
TRI CARE - HUMANA MILITARY           4
UPMC HEALTH PLAN                     3
BCBS of WNY Essential Plans          2
MVP MEDICARE                         2
BCBS OF WESTERN NY MEDICARE          2
GENESEO PARISH                       2
MEDICARE PART B MH                   2
MOLINA HEALTHCARE ESSENTIAL PL       2
MARTINS POINT  HEALTHCARE            2
LIVINGSTON COUNTY DSS                1
GEISINGER CHOICE                     1
WORKERS COMPENSATION                 1
BLUE SHIELD OUT OF AREA MEDICA       1
Bind/UHG                             1
MVP ESSENTIAL PLAN - 1-1-2020        1
INDEPENDENT HEALTH MANAGED CAR       1
Name: count, dtype: int64

In [10]:
df_membership_match_info = df_membership[['Patient Info.MedicaidID','Patient Info.Patient Name - Last First'
, 'Patient Info.Date Of Birth','Patient Info.Primary Insurance Name', 'Patient Info.Age (Current)','Patient Info.Gender']]

In [11]:
print(df_membership_match_info.shape)
df_membership_match_info.head(2)

(2913, 6)

,Patient Info.MedicaidID,Patient Info.Patient Name - Last First,Patient Info.Date Of Birth,Patient Info.Primary Insurance Name,Patient Info.Age (Current),Patient Info.Gender
0,ZFB8441F2535,"PORTER, VERONIKA",1997-07-07,FIDELIS CARE MANAGED CARE,25,Female
1,V5250711921504,"VINCENT, GREGORY",1992-07-11,SULLIVAN / BRADFORD COUNTY SIN,30,Male

In [12]:
logging.info(f'{solution_name} - Step 1 - Load ANY data set for which to run discovery or data profiling')  
getting_data = True
if getting_data: 
    file_name = "C:\\working_directory\\excel\\allmember.xlsx"    
    df_allmember = pd.read_excel(file_name, sheet_name="allmember")   
print(df_allmember.shape)
df_allmember.head(2)

(59414, 59)

,Member ID,Parse Member,CIN,Member Name,September 2023 Active within FLIPA,Person Product Type,Person Age Group,Person Language,Person Race,Physician Group TIN,...,Breast Cancer Screening,Monitoring Diabetes- HbA1c,Childhood Immunization Status (Combo 3),Follow-Up After Emergency Department Visit for Mental Illness (7-day),Adolescent Immunization (Combo 2),Postpartum Care,Child & Adolescent Well-Child Visits (3-21 Years),harp_eligible,health_home_enrolled,pcp_assignment_type
0,74373982100-FCNY0001,743739821,CJ21745E,"Acor, Brandon",Yes,TANF Adult,4 - Young adult (19 - 35),English,White,161020913,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Manual
1,74227852100-FCNY0001,742278521,CP22315G,"Adler, Robert",Yes,HARP,6 - Older adult (51 - 65),English,White,160997545,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Manual

In [13]:
df_allmember_matching = df_allmember[['Member ID','Parse Member','CIN','Member Name','Member DOB','Member Gender']] 
print(df_allmember_matching.shape)
df_allmember_matching.head(3)

(59414, 6)

,Member ID,Parse Member,CIN,Member Name,Member DOB,Member Gender
0,74373982100-FCNY0001,743739821,CJ21745E,"Acor, Brandon",1993-04-09,M
1,74227852100-FCNY0001,742278521,CP22315G,"Adler, Robert",1965-02-05,M
2,74237552800-FCNY0001,742375528,CZ90609X,"Ames, Allison",1999-02-03,F

In [14]:
df_allmember_matching['Mem_ID'] = df_allmember_matching['Member ID'].str.slice(0, 9)

C:\Users\josep\AppData\Local\Temp\ipykernel_18040\3804711215.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_allmember_matching['Mem_ID'] = df_allmember_matching['Member ID'].str.slice(0, 9)

In [18]:
df_allmember_matching.head(5)

,Member ID,Parse Member,CIN,Member Name,Member DOB,Member Gender,Mem_ID
0,74373982100-FCNY0001,743739821,CJ21745E,"Acor, Brandon",1993-04-09,M,743739821
1,74227852100-FCNY0001,742278521,CP22315G,"Adler, Robert",1965-02-05,M,742278521
2,74237552800-FCNY0001,742375528,CZ90609X,"Ames, Allison",1999-02-03,F,742375528
3,74342859700-FCNY0001,743428597,FC85494H,"Arnault, Taryn",2004-01-09,F,743428597
4,74353314600-FCNY0001,743533146,BW24223H,"Barnes, Joshua",1989-01-05,M,743533146

In [19]:
df_allmember_matching.columns

Index(['Member ID', 'Parse Member', 'CIN', 'Member Name', 'Member DOB',
       'Member Gender', 'Mem_ID'],
      dtype='object')

In [83]:
def find_member_DOB_by_Name(member_name):
    df = df_allmember_matching[df_allmember_matching['Member Name'] == member_name]
    if not df.empty:
        dob_datetime = pd.to_datetime(df['Member DOB'].iloc[0])
        dob_date = dob_datetime.date()
        return str(dob_date)
    else:
        return "Member not found"

In [87]:
def find_member_DOB_by_CIN(CIN):
    df = df_allmember_matching[df_allmember_matching['CIN'] == CIN]

    if not df.empty:
        dob_datetime = pd.to_datetime(df['Member DOB'].iloc[0])
        dob_date = dob_datetime.date()
        return str(dob_date)
    else:
        return "Member not found"

In [90]:
def find_member_Name_by_member_ID(member_ID):
    df = df_allmember_matching[df_allmember_matching['Mem_ID'] == member_ID]
    if not df.empty:
        member = df['Member Name'].iloc[0] 
        return str(member)
    else:
        return "Member not found"

In [93]:
testing = True
if testing:
    print(f"Birth Date for Adler, Robert: {find_member_DOB_by_Name('Adler, Robert')}  ") 
    print(f"Birth Date for Barnes, Joshua: {find_member_DOB_by_Name('Barnes, Joshua')}  ") 
    print(f"Birth Date for CIN CP22315G: {find_member_DOB_by_CIN('CP22315G')}  ") 
    print(f"member name for member ID: {find_member_Name_by_member_ID('743533146')}  ")

Birth Date for Adler, Robert: 1965-02-05
Birth Date for Barnes, Joshua: 1989-01-05
Birth Date for CIN CP22315G: 1965-02-05
member name for member ID: Barnes, Joshua

## Use Lambda function to assign matching DOB

In [94]:
df_allmember_matching['Lookup DOB'] = df_allmember_matching['Member Name'].apply(lambda x: find_member_DOB_by_Name(x))

C:\Users\josep\AppData\Local\Temp\ipykernel_18040\1145144528.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_allmember_matching['Lookup DOB'] = df_allmember_matching['Member Name'].apply(lambda x: find_member_DOB_by_Name(x))

In [95]:
df_allmember_matching.shape

(59414, 8)

In [96]:
df_allmember_matching.head(6)

,Member ID,Parse Member,CIN,Member Name,Member DOB,Member Gender,Mem_ID,Lookup DOB
0,74373982100-FCNY0001,743739821,CJ21745E,"Acor, Brandon",1993-04-09,M,743739821,1993-04-09
1,74227852100-FCNY0001,742278521,CP22315G,"Adler, Robert",1965-02-05,M,742278521,1965-02-05
2,74237552800-FCNY0001,742375528,CZ90609X,"Ames, Allison",1999-02-03,F,742375528,1999-02-03
3,74342859700-FCNY0001,743428597,FC85494H,"Arnault, Taryn",2004-01-09,F,743428597,2004-01-09
4,74353314600-FCNY0001,743533146,BW24223H,"Barnes, Joshua",1989-01-05,M,743533146,1989-01-05
5,74287606600-FCNY0001,742876066,ED10955E,"Bell, Michael",2008-03-18,M,742876066,2008-03-18

In [ ]:
merged_df['member ID match'] = merged_df['Member Name'].fillna('No Member ID match')

In [ ]:
merged_df.head(3)

In [ ]:
print(df_fidelis_matching.shape)
print(merged_df.shape)
merged_df.head(3)

In [ ]:
# Merge the two DataFrames based on the member_id and CIN columns
merged_df = df_fidelis.merge(df_membership_match_info, left_on='Mem_ID', right_on='Patient Info.MedicaidID', how='left')
# Create the 'member ID match' column with 'Member Name' if a match is found, or 'No Member ID match' if no match is found
merged_df['member ID match'] = merged_df['Member Name'].fillna('No Member ID match')
merged_df.head(3)    # Keep only the desired columns in the final DataFrame

In [ ]:
# Merge the two DataFrames based on the member_id and CIN columns
merged_df = df_fidelis.merge(df_membership_match_info, left_on='Mem_ID', right_on='Patient Info.MedicaidID', how='left')
# Create the 'member ID match' column with 'Member Name' if a match is found, or 'No Member ID match' if no match is found
merged_df['member ID match'] = merged_df['Member Name'].fillna('No Member ID match')
# Keep only the desired columns in the final DataFrame
final_df = merged_df[['member_id', 'member_name', 'member ID match']]
# If you want to update the original df_fidelis DataFrame with the new column, you can do:
df_fidelis['member ID match'] = final_df['member ID match']
# Print the updated DataFrame
final_df.head()

## match on CIN - or -  left member ID 9 - or - Name and Date of Birth

In [ ]:
# df_fidelis.columns

## Step 3 - Clear out old reports

In [ ]:
def delete_files_in_directory(target_directory):
    try:
        # Verify if the target_directory exists
        if not os.path.exists(target_directory):
            print(f"The directory '{target_directory}' does not exist.")
            return 0  # No files deleted

        files_deleted = 0

        # Loop through files in the target_directory and delete them
        for file in os.listdir(target_directory):
            file_path = os.path.join(target_directory, file)
            if os.path.isfile(file_path):
                os.remove(file_path)  # Delete the file
                files_deleted += 1

        print(f"{files_deleted} files deleted in '{target_directory}'.")
        return files_deleted
    
    except Exception as e:
        print(f"An error occurred: {str(e)}")
        return 0  # No files deleted due to error

# Example usage:
# Specify the target directory to delete its files
target_directory = "/path/to/your/directory"
deleted_count = delete_files_in_directory(target_directory)
print(f"Total files deleted: {deleted_count}")

## Example - df.columns provides a list of each column

In [ ]:
df.columns

## Example - df.describe() Provides High level stats on each column

In [ ]:
df.describe()

## Example - df.shape tells you the rows and columns

In [ ]:
df.shape

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

## Step 2 - Render descriptive statistics and profile every feature or Column of the Dataset

In [ ]:
#data_set_name = 'high_risk_high_need'
#dd.display_descriptive_statistics(dd.get_descriptive_statistics(df,data_set_name))

## Strip Any spaces from Left of Provider Names

In [ ]:
df["Program Provider"] = df["Program Provider"].str.strip(" ")

In [ ]:
provider_list = df["Program Provider"].unique()
print(provider_list)

## Step 3 - Chunk the data set into personalized reports per Doctor

In [ ]:
import datetime
report_date = datetime.datetime.now().strftime("_%m_%d_%Y")
for index, provider in enumerate(provider_list):
    df_provider = df[(df["Program Provider"] == provider)]
    provider = provider.replace(" ","_")
    print(f'Found {index}  Provider {provider} high risk patients:{df_provider.shape[0]}')
    provider_save_filename = f"c://reports//high_risk_high_need//provider_{provider}_high_risk" + report_date + ".xlsx" 
    print(f'writing {provider} to: {provider_save_filename}   ')
    with pd.ExcelWriter(provider_save_filename) as writer:
        df_provider.to_excel(writer, sheet_name='High Risk',index = False)

## Step 4 - Format all of the reports so they look professional and are easy to use and efficient

In [ ]:
testing = True
if testing:
    formatted_excel_Files = re.format_excel_directory('c://reports//high_risk_high_need')
    print(f'Formatted #{formatted_excel_Files} excel files')

In [ ]:
import os
import shutil
import re

def move_files_by_regex_and_extension(source_dir, target_dir, regex_pattern, file_extension):
    # Ensure the source and target directories exist
    if not os.path.exists(source_dir):
        print(f"Source directory '{source_dir}' does not exist.")
        return
    if not os.path.exists(target_dir):
        print(f"Target directory '{target_dir}' does not exist.")
        return

    # Compile the regular expression pattern
    try:
        regex = re.compile(regex_pattern)
    except re.error as e:
        print(f"Invalid regular expression: {e}")
        return

    # Iterate over files in the source directory
    for filename in os.listdir(source_dir):
        source_file_path = os.path.join(source_dir, filename)

        # Check if the file matches the regular expression and extension
        if regex.search(filename) and filename.endswith(file_extension):
            # Construct the target file path
            target_file_path = os.path.join(target_dir, filename)

            # Move the file to the target directory
            try:
                shutil.move(source_file_path, target_file_path)
                print(f"Moved '{filename}' to '{target_dir}'.")
            except Exception as e:
                print(f"Failed to move '{filename}': {e}")

# Example usage:
source_directory = "/path/to/source_directory"
target_directory = "/path/to/target_directory"
regular_expression = r"_ft"     # Replace with your regular expression
file_extension = ".xlsx"       # Replace with your desired file extension
move_files_by_regex_and_extension(source_directory, target_directory, regular_expression, file_extension)

## Step 0 - Process End - display log

In [ ]:
# Calculate and classify the process performance 
status = ql.calculate_process_performance(solution_name, start_time) 
print(ql.append_log_file(solution_name))